<!DOCTYPE html>
<html>
<head>
    <title>Prøveeksamen 3</title>
    <script src="index.js" defer></script>
</head>
<body>
<ul>
    {{#each kunder}}
        <li id="id{{nr}}">{{navn}}</li>
    {{/each}}
</ul>
<div id="detaljer"></div>

</body>
</html>
